@charset "UTF-8";
@font-face {
  font-family: "Exo";
  src: url(../fonts/Exo2-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Exo";
  src: url(../fonts/Exo2-Bold.otf);
  font-weight: 700;
}

body {
  margin: 0;
}

.yalg {
  background-color: white;
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  margin-left: 185px;
}

@media (max-width: 1023px) {
  .yalg {
    margin-left: 0;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-size: calc(30px + (43 - 30) * ((100vw - 320px) / (1920 - 320)));
  line-height: 120%;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #314078;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .title {
    text-align: center;
  }
}

.subtitle {
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: 128%;
  color: #24346c;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .subtitle {
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
}

.text {
  color: #24346c;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  line-height: 130%;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 2000px) {
  .text {
    font-size: calc(20px + (27 - 20) * ((100vw - 320px) / (2560 - 320)));
  }
}

.green {
  color: #76bd1d;
}

.white {
  color: white;
}

.bold {
  font-weight: 700;
}

.header {
  height: 100vh;
  margin-bottom: 80px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  margin-top: 120px;
}

.logo {
  margin-left: 125px;
  margin-bottom: 118px;
  max-width: 530px;
}

.header__text {
  font-weight: 700;
}

.header__img-big {
  width: 50%;
  height: 50%;
}

@media (max-width: 1550px) {
  .header__content {
    width: 65%;
  }
  .logo {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) {
  .header {
    height: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .logo__img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .header__img-mini {
    margin-top: -100px;
  }
}

@media (max-width: 400px) {
  .header__img-big {
    display: none;
  }
  .header__content {
    width: 100%;
    padding-right: 20px;
    margin-top: 40px;
  }
  .header__img-mini {
    width: 115%;
  }
}

.tasks {
  margin-bottom: 200px;
}

.tasks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__client {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 140px;
}

.tasks__title {
  margin-bottom: 40px;
}

.tasks__item {
  margin-bottom: 45px;
  padding-left: 100px;
  position: relative;
}

.tasks__item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  font-size: 95px;
  font-weight: 800;
}

.tasks__item:nth-child(1)::before {
  content: "1";
}

.tasks__item:nth-child(2)::before {
  content: "2";
}

.tasks__item:nth-child(3)::before {
  content: "3";
}

.tasks__item:nth-child(4)::before {
  content: "4";
}

.tasks__RK {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 1440px) {
  .tasks__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tasks__item {
    padding-left: 70px;
  }
  .tasks__item::before {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .tasks__client {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .tasks {
    margin-top: -80px;
  }
}

@media (max-width: 400px) {
  .tasks {
    margin-top: -20px;
  }
}

.portraits {
  background-image: url(../images/portraits/portraits__bg.png);
  background-size: cover;
  margin-top: -30%;
  padding-top: 27%;
  padding-bottom: 10%;
  margin-bottom: 5%;
}

.portraits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portraits__content-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.portraits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portraits__item-img {
  text-align: center;
}

.portraits__item-title {
  width: 70%;
  text-align: center;
}

.portraits__item-text {
  width: 70%;
  text-align: center;
}

@media (max-width: 1500px) {
  .portraits {
    padding-top: 31%;
    margin-top: -31%;
  }
}

@media (max-width: 1024px) {
  .portraits {
    padding-top: 38%;
  }
}

@media (max-width: 768px) {
  .portraits {
    margin-top: -44%;
  }
}

@media (max-width: 600px) {
  .portraits {
    padding-top: 55%;
  }
}

@media (max-width: 500px) {
  .portraits {
    padding-top: 70%;
    margin-top: -72%;
  }
  .portraits__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portraits__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 40px;
  }
  .portraits__item-img {
    width: 30%;
    margin-bottom: 20px;
  }
  .portraits__item-title {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .portraits__item-text {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .portraits {
    margin-top: -90%;
    padding-top: 76%;
    padding-bottom: 20%;
  }
  .portraits__item-img {
    width: 40%;
  }
}

.desicion {
  position: relative;
  margin-bottom: 80px;
}

.desicion__inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.desicion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desicion__textblock {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 40px;
}

.desicion__mech {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/desicion/desicion__mech-bg.png);
  background-size: cover;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 80px;
  margin-top: -20%;
}

.desicion__mech-shestern {
  position: absolute;
  right: 0;
  top: 20px;
}

.desicion__mech-title {
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  margin-right: 100px;
}

.desicion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desicion__item {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 42px;
}

.desicion__item-left {
  margin-right: 20px;
}

.desicion__item-number {
  font-size: 23px;
  color: white;
  margin-bottom: 15px;
  font-weight: 700;
}

.desicion__item-text {
  font-size: 12px;
  color: white;
}

@media (max-width: 1024px) {
  .desicion__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desicion__mech {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .desicion__mech {
    background-image: none;
    background-color: #76bd1d;
    padding-left: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    padding-bottom: 40px;
  }
  .desicion__mech-title {
    margin-right: 0;
  }
  .desicion__mech-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desicion__item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desicion__item-number {
    margin-right: 15px;
  }
  .desicion__mech-shestern {
    right: 20px;
  }
}

@media (max-width: 400px) {
  .desicion__mech-shestern {
    display: none;
  }
}

.card__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__item-img {
  width: 100%;
}

.card__item-title {
  text-align: center;
  width: 70%;
  color: #76bd1d;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 120%;
}

.card__item-text {
  text-align: center;
  width: 70%;
  margin-top: 20px;
}

.fz35 {
  font-size: 35px;
  line-height: 120%;
}

@media (max-width: 600px) {
  .card__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .card__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__item-img {
    width: 50%;
  }
}

.stars {
  position: relative;
  margin-bottom: 200px;
}

.stars__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 45%;
}

.stars__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 150px;
}

.stars__img {
  position: relative;
  z-index: 5;
  opacity: 0;
}

.stars__textblock {
  max-width: 520px;
}

@media (max-width: 1440px) {
  .stars__bg {
    top: 50px;
  }
}

@media (max-width: 1024px) {
  .start {
    margin-bottom: -50px;
  }
  .stars__bg {
    top: 100px;
  }
  .stars__inner {
    padding-top: 70px;
  }
  .stars__textblock {
    max-width: none;
    width: 50%;
  }
}

@media (max-width: 1023px) {
  .stars__bg {
    top: 15px;
  }
}

@media (max-width: 768px) {
  .stars__bg {
    top: 100px;
  }
}

@media (max-width: 600px) {
  .stars {
    margin-bottom: 75%;
  }
  .stars__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }
  .stars__textblock {
    width: 100%;
  }
  .stars__bg {
    top: 100%;
    left: 50%;
    width: 55%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.why {
  position: relative;
  margin-top: 15%;
}

.why__img {
  position: absolute;
  right: 0;
  top: -200px;
  width: 45%;
}

.why__inner {
  width: 45%;
}

@media (max-width: 1800px) {
  .why__img {
    top: -100px;
  }
}

@media (max-width: 1440px) {
  .why__img {
    top: -10px;
  }
}

@media (max-width: 1024px) {
  .why {
    margin-top: -15%;
  }
  .why__img {
    top: 100px;
  }
}

@media (max-width: 1023px) {
  .why__img {
    top: 15px;
  }
}

@media (max-width: 768px) {
  .why__img {
    top: 100px;
  }
}

@media (max-width: 600px) {
  .why {
    margin-bottom: 75%;
  }
  .why__inner {
    width: 100%;
  }
  .why__img {
    top: 107%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 55%;
  }
}

.examples {
  margin-top: 250px;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .examples {
    margin-top: 60px;
  }
}

.slider {
  width: 90%;
  margin: 0 auto;
}

.slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style-type: none;
}

.slick-dots button {
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 30px;
  font-size: 0;
  cursor: pointer;
}

.slick-active button {
  background-color: #76BD1D;
}

.slider__item-img {
  width: 100%;
}

.result {
  margin-bottom: 80px;
}

.result__title {
  margin-bottom: 40px;
}

.result__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.result__list-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 53px 45px;
  padding-bottom: 35px;
  border: 6px solid #76BD1D;
  border-radius: 45px;
}

.result__list-min:not(:last-child) {
  margin-right: 30px;
}

.result__list-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -29%;
  padding: 15px 30px;
  background-color: white;
}

.result__item-min {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__item-title {
  width: 80%;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  line-height: 120%;
  color: #76BD1D;
  margin: 0;
}

.result__item-text {
  width: 90%;
  text-align: center;
  margin: 0;
}

.result__content-bottom .result__list-title {
  top: -23%;
}

.result__list-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 53px 45px;
  padding-bottom: 35px;
  border: 6px solid #76BD1D;
  border-radius: 45px;
}

.result__big-item {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1550px) {
  .result__list-big {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1350px) {
  .result__content-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result__list-min {
    margin-bottom: 40px;
  }
  .result__list-min:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .result__title {
    margin-bottom: 80px;
  }
  .result__list-min {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result__list-title {
    top: -15%;
  }
  .result__content-bottom .result__list-title {
    top: -12%;
  }
  .result__big-item {
    margin-right: 0;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    margin-bottom: 20px;
  }
  .result__item-img {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .result__big-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.opinion {
  position: relative;
  margin-bottom: 200px;
}

.opinion__img {
  position: absolute;
  right: -2%;
  top: -20%;
  width: 55%;
}

.opinion__inner {
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1440px) {
  .opinion__img {
    top: -5%;
  }
}

@media (max-width: 1024px) {
  .opinion__img {
    top: 15%;
  }
}

@media (max-width: 600px) {
  .opinion {
    margin-bottom: 128%;
  }
  .opinion__inner {
    width: 100%;
  }
  .opinion__img {
    top: 93%;
    width: 96%;
    left: 53%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.footer {
  background-image: url(../images/team/team__bg.png);
  background-size: cover;
  padding-top: 15%;
  margin-top: -10%;
  padding-bottom: 86px;
}

.team__title {
  margin-bottom: 40px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.team__item-img {
  margin-bottom: 20px;
}

.team__item-title {
  text-align: center;
  width: 60%;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  color: #24346C;
  margin: 0;
}

.team__item-text {
  width: 80%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  color: #24346C;
  margin: 0;
}

@media (max-width: 1024px) {
  .team__item-img {
    width: 65%;
  }
  .team__item-title {
    font-size: 25px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 18%;
    margin-top: -22%;
  }
  .team__item-title {
    font-size: 20px;
  }
  .team__item-text {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media (max-width: 500px) {
  .team__item-title {
    font-size: 15px;
  }
  .team__item-text {
    font-size: 10px;
  }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: #24346c;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #76BD1D;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ecfefa;
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
